openapi: 3.0.3
info:
  title: AccelByte Gaming Services (AGS) Achievement Game Telemetry API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface. AGS is delivered as a set of independent microservices (IAM, Basic, Cloud Save, Statistics/Leaderboard, Matchmaking, Session, Platform/Commerce, Season Pass, Achievement, DSMC/Armada, Game Telemetry, and UGC), each mounted under its own path prefix on the environment base URL (for example https://demo.accelbyte.io). Almost every operation is scoped to a `namespace` path parameter and secured with an OAuth2 Bearer access token issued by IAM. This document models a representative slice of each service rather than the exhaustive per-service specs, which AccelByte publishes individually.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Game Telemetry
  description: Gameplay and client telemetry ingestion.
paths:
  /game-telemetry/v1/protected/events:
    post:
      operationId: telemetrySaveEvents
      tags:
      - Game Telemetry
      summary: Save a batch of telemetry events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TelemetryEvent'
      responses:
        '204':
          description: Events accepted.
components:
  schemas:
    TelemetryEvent:
      type: object
      properties:
        EventNamespace:
          type: string
        EventName:
          type: string
        Payload:
          type: object
          additionalProperties: true
        ClientTimestamp:
          type: string
          format: date-time
      required:
      - EventNamespace
      - EventName
      - Payload
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
