openapi: 3.2.0
info:
  title: AccelByte Gaming Services (AGS) Session API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Session
  description: Game sessions and parties (Session V2).
paths:
  /session/v1/public/namespaces/{namespace}/gamesession:
    post:
      operationId: sessionCreateGameSession
      tags:
      - Session
      summary: Create a game session
      parameters:
      - $ref: '#/components/parameters/Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameSessionRequest'
      responses:
        '201':
          description: Game session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSession'
  /session/v1/public/namespaces/{namespace}/party:
    post:
      operationId: sessionCreateParty
      tags:
      - Session
      summary: Create a party session
      parameters:
      - $ref: '#/components/parameters/Namespace'
      responses:
        '201':
          description: Party created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartySession'
components:
  schemas:
    PartySession:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
        leaderId:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/SessionMember'
    GameSession:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
        configurationName:
          type: string
        joinability:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/SessionMember'
        dsInformation:
          type: object
          additionalProperties: true
    GameSessionRequest:
      type: object
      properties:
        configurationName:
          type: string
        matchPool:
          type: string
        joinability:
          type: string
          enum:
          - OPEN
          - CLOSED
          - INVITE_ONLY
        maxPlayers:
          type: integer
      required:
      - configurationName
    SessionMember:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - JOINED
          - INVITED
          - LEFT
          - CONNECTED
  parameters:
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
