openapi: 3.0.3
info:
  title: AccelByte Gaming Services (AGS) Achievement UGC API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface. AGS is delivered as a set of independent microservices (IAM, Basic, Cloud Save, Statistics/Leaderboard, Matchmaking, Session, Platform/Commerce, Season Pass, Achievement, DSMC/Armada, Game Telemetry, and UGC), each mounted under its own path prefix on the environment base URL (for example https://demo.accelbyte.io). Almost every operation is scoped to a `namespace` path parameter and secured with an OAuth2 Bearer access token issued by IAM. This document models a representative slice of each service rather than the exhaustive per-service specs, which AccelByte publishes individually.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: UGC
  description: User-generated content channels and contents.
paths:
  /ugc/v1/public/namespaces/{namespace}/channels/{channelId}/contents/s3:
    post:
      operationId: ugcCreateContent
      tags:
      - UGC
      summary: Create UGC content in a channel.
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentRequest'
      responses:
        '201':
          description: Content created (with a presigned upload URL).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
components:
  schemas:
    CreateContentRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        subtype:
          type: string
        fileExtension:
          type: string
        tags:
          type: array
          items:
            type: string
        contentType:
          type: string
      required:
      - name
      - fileExtension
    Content:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
        channelId:
          type: string
        name:
          type: string
        creatorName:
          type: string
        payloadUrl:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
        tags:
          type: array
          items:
            type: string
        isOfficial:
          type: boolean
  parameters:
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
