openapi: 3.2.0
info:
  title: AccelByte Gaming Services (AGS) Matchmaking API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Matchmaking
  description: Matchmaking V2 pools and tickets.
paths:
  /match2/v1/namespaces/{namespace}/match-tickets:
    post:
      operationId: matchmakingCreateTicket
      tags:
      - Matchmaking
      summary: Submit a match ticket
      parameters:
      - $ref: '#/components/parameters/Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchTicketRequest'
      responses:
        '201':
          description: Ticket created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchTicket'
  /match2/v1/namespaces/{namespace}/match-tickets/{ticketId}:
    delete:
      operationId: matchmakingDeleteTicket
      tags:
      - Matchmaking
      summary: Cancel a match ticket
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - name: ticketId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Ticket cancelled.
components:
  schemas:
    MatchTicket:
      type: object
      properties:
        matchTicketID:
          type: string
        queueTime:
          type: integer
        matchPool:
          type: string
    MatchTicketRequest:
      type: object
      properties:
        matchPool:
          type: string
        sessionID:
          type: string
        attributes:
          type: object
          additionalProperties: true
        latencies:
          type: object
          additionalProperties:
            type: integer
      required:
      - matchPool
  parameters:
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
