openapi: 3.2.0
info:
  title: AccelByte Gaming Services (AGS) Achievement API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Achievement
  description: Achievement definitions and player unlocks.
paths:
  /achievement/v1/public/namespaces/{namespace}/users/{userId}/achievements:
    get:
      operationId: achievementListUserAchievements
      tags:
      - Achievement
      summary: List a player's achievements
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A page of user achievements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAchievementPagedResponse'
components:
  schemas:
    UserAchievement:
      type: object
      properties:
        achievementCode:
          type: string
        name:
          type: string
        status:
          type: integer
          description: 1 = in progress, 2 = unlocked.
        latestValue:
          type: number
        achievedAt:
          type: string
          format: date-time
    UserAchievementPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserAchievement'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
  parameters:
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
