openapi: 3.2.0
info:
  title: AccelByte Gaming Services (AGS) Platform API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Platform
  description: Commerce - stores, items, entitlements, wallets, orders.
paths:
  /platform/public/namespaces/{namespace}/items/byCriteria:
    get:
      operationId: platformQueryItems
      tags:
      - Platform
      summary: Query catalog items by criteria
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - name: storeId
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A page of catalog items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPagedResponse'
  /platform/public/namespaces/{namespace}/users/{userId}/entitlements:
    get:
      operationId: platformGetUserEntitlements
      tags:
      - Platform
      summary: List a user's entitlements
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A page of entitlements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementPagedResponse'
  /platform/public/namespaces/{namespace}/users/{userId}/orders:
    post:
      operationId: platformCreateOrder
      tags:
      - Platform
      summary: Create an order (checkout)
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /platform/public/namespaces/{namespace}/users/{userId}/wallets/{currencyCode}:
    get:
      operationId: platformGetUserWallet
      tags:
      - Platform
      summary: Get a user's wallet for a currency
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      - name: currencyCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
components:
  schemas:
    EntitlementPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Entitlement'
        paging:
          $ref: '#/components/schemas/Paging'
    Item:
      type: object
      properties:
        itemId:
          type: string
        namespace:
          type: string
        sku:
          type: string
        name:
          type: string
        itemType:
          type: string
          enum:
          - APP
          - COINS
          - INGAMEITEM
          - BUNDLE
          - CODE
          - SUBSCRIPTION
          - SEASON
          - MEDIA
          - OPTIONBOX
        regionData:
          type: array
          items:
            $ref: '#/components/schemas/RegionPrice'
    OrderRequest:
      type: object
      properties:
        itemId:
          type: string
        quantity:
          type: integer
        currencyCode:
          type: string
        price:
          type: integer
        region:
          type: string
      required:
      - itemId
      - quantity
    Entitlement:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
        userId:
          type: string
        itemId:
          type: string
        sku:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - CONSUMED
          - REVOKED
        useCount:
          type: integer
    RegionPrice:
      type: object
      properties:
        currencyCode:
          type: string
        currencyType:
          type: string
          enum:
          - REAL
          - VIRTUAL
        price:
          type: integer
        discountedPrice:
          type: integer
    ItemPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        paging:
          $ref: '#/components/schemas/Paging'
        total:
          type: integer
    Order:
      type: object
      properties:
        orderNo:
          type: string
        userId:
          type: string
        itemId:
          type: string
        status:
          type: string
          enum:
          - INIT
          - CHARGED
          - CHARGEBACK
          - FULFILLED
          - REFUNDED
          - CLOSED
        price:
          type: integer
        currency:
          $ref: '#/components/schemas/RegionPrice'
    Paging:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
    Wallet:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
        userId:
          type: string
        currencyCode:
          type: string
        balance:
          type: integer
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
