openapi: 3.0.3
info:
  title: AccelByte Gaming Services (AGS) Achievement Statistics API
  description: Representative OpenAPI description of the core AccelByte Gaming Services (AGS) REST surface. AGS is delivered as a set of independent microservices (IAM, Basic, Cloud Save, Statistics/Leaderboard, Matchmaking, Session, Platform/Commerce, Season Pass, Achievement, DSMC/Armada, Game Telemetry, and UGC), each mounted under its own path prefix on the environment base URL (for example https://demo.accelbyte.io). Almost every operation is scoped to a `namespace` path parameter and secured with an OAuth2 Bearer access token issued by IAM. This document models a representative slice of each service rather than the exhaustive per-service specs, which AccelByte publishes individually.
  termsOfService: https://accelbyte.io/terms-of-service
  contact:
    name: AccelByte
    url: https://accelbyte.io/contact-us
  version: '1.0'
servers:
- url: https://demo.accelbyte.io
  description: Shared AccelByte demo environment
- url: https://{namespace}.accelbyte.io
  description: Customer environment base URL
  variables:
    namespace:
      default: demo
      description: Customer environment host prefix
security:
- bearerAuth: []
tags:
- name: Statistics
  description: Player statistics and configurations.
paths:
  /social/v1/namespaces/{namespace}/users/{userId}/statitems:
    get:
      operationId: statisticsGetUserStatItems
      tags:
      - Statistics
      summary: List a player's stat items.
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: A page of stat items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatItemPagedResponse'
  /social/v1/namespaces/{namespace}/users/{userId}/statitems/value/bulk:
    put:
      operationId: statisticsBulkUpdateStatItems
      tags:
      - Statistics
      summary: Bulk update a player's stat item values.
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StatItemUpdate'
      responses:
        '200':
          description: Updated stat items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatItem'
components:
  schemas:
    StatItemUpdate:
      type: object
      properties:
        statCode:
          type: string
        inc:
          type: number
          description: Increment applied to the current value.
      required:
      - statCode
      - inc
    StatItemPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StatItem'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
    StatItem:
      type: object
      properties:
        statCode:
          type: string
        userId:
          type: string
        value:
          type: number
        namespace:
          type: string
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
    Namespace:
      name: namespace
      in: path
      required: true
      description: The game namespace the request is scoped to.
      schema:
        type: string
      example: demogame
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token issued by the IAM token endpoint.
    basicAuth:
      type: http
      scheme: basic
      description: OAuth2 client id / client secret used at the token endpoint.
